{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'Tribe/CSS/tribe.css' %}">
    <link rel="icon" type="image/svg+xml" href="{% static 'Tribe/IMG/Goats/logo_raw_cut.svg' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

</head>
<body>
{% block header %} {% endblock %}
<nav>
    <a class="a_nav" href="{% url 'homepage' %}">Homepage</a>
    <a class="a_nav" href="{% url 'story' %}">The Story</a>
    <a class="a_nav" href="{% url 'my_notes' %}">My Notes</a>
</nav>
{% block body %}{% endblock %}
{% block bottom %}{% endblock %}
</body>
</html>