{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'Tribe/CSS/tribe.css' %}">
    <link rel="icon" type="image/svg+xml" href="{% static 'Tribe/IMG/Goats/logo_raw_cut.svg' %}">
    <link rel="stylesheet" href="https://pyscript.net/releases/2024.4.1/core.css" />
    <script type="module" src="https://pyscript.net/releases/2024.4.1/core.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

</head>
<body>
{% block header_image %} {% endblock %}
<div id="div_nav_and_stats">
    <nav>
        <a class="a_nav" id="tribe_village" href="{% url 'tribe_village' %}">Tribe Village</a>
        <a class="a_nav" id="story" href = "{% url 'story' %}">The Story</a>
        <a class="a_nav" href="{% url 'workshops' %}">Workshops</a>
        <a class="a_nav" href="{% url 'jungle' %}">Jungle</a>
        <a class="a_nav" href="{% url 'my_notes' %}">My Notes</a>
    </nav>
</div>
<div id="div_stats">
    {% block stats %} {% endblock %}
</div>


{% block body %}{% endblock %}
{% block bottom %}{% endblock %}
{% block bottom_pyscript %}<script type="py"></script>{% endblock %}
</body>
</html>