{% extends 'Tribe/base.html' %}
{% load static %}

{% block title %}Test Tribe Home{% endblock %}

{% block header_image %}
<header>
    <img class="header_img" src="{% static 'Tribe/IMG/Buildings/village_in_a_landscape_view.jpg' %}">
</header>
{% endblock %}

{% block body %}

<h1 id="h1_tag" style="display:inline">Welcome to "THE TEST TRIBE"!</h1>
<img class="img_small" src="{% static 'Tribe/IMG/Goats/ram.svg' %}">
<br>
<div class="div_center">
    <div class="div_house_row">
        <div class="div_house_left">
            <img class="img_homepage_house" src="{% static 'Tribe/IMG/Buildings/chief_house_uncut.png' %}">
        </div>
        <div class="div_data_right">
            <p>Data</p>
         </div>
    </div>
    <div class="div_house_row">
        <div class="div_house_left">
            <img class="img_homepage_house" src="{% static 'Tribe/IMG/Buildings/shepherds_house_cut.png' %}">
        </div>
        <div class="div_data_right">
            <p>Data</p>
         </div>
    </div>
</div>


{% endblock %}