{% extends 'Tribe/base.html' %}
{% load static %}

{% block title %}Test Tribe Home{% endblock %}

{% block header %}
<header class="header">

</header>
{% endblock %}

{% block body %}

<h1 id="h1_tag" style="display:inline">Hello, welcome to "THE TEST TRIBE"! What is your name?</h1>
<img class="img_logo" src="{% static 'Tribe/IMG/Goats/logo_raw_cut.svg' %}">
<br>
<div class="div_center">
    <div class="div_house_row">
        <div class="div_house_left">
            <img class="img_homepage_house" src="{% static 'Tribe/IMG/Buildings/chief_house_uncut.png' %}">
        </div>
        <div class="div_data_right">
            <p>Data</p>
         </div>
    </div>
    <div class="div_house_row">
        <div class="div_house_left">
            <img class="img_homepage_house" src="{% static 'Tribe/IMG/Buildings/shepherds_house_cut.png' %}">
        </div>
        <div class="div_data_right">
            <p>Data</p>
         </div>
    </div>
</div>


{% endblock %}