{% extends 'Tribe/base.html' %}
{% load static %}
{% block title %}Jungle{% endblock %}

{% block stats %}
  {% for stat in stats %}
    <div title="{{ stat.resource_name }}" class="div_indiv_resource_stats">
      <p id="stats_value"> {{stat.stored_resource_quantity}}</p>
      <img class="img_stat_icon" src="{{ stat.resource_image.url }}">
    </div>
  {% endfor %}
{% endblock %}


{% block body %}

<h1>Jungle</h1>
<div class="div_grid_jungle">
  <div class="grid-item">Explore area</div>
  <div class="grid-item">Explore area</div>
  <div class="grid-item">Explore area</div>
  <div class="grid-item">Explore area</div>
  <div class="grid-item">Explore area</div>
  <div class="grid-item">Explore area</div>
  <div class="grid-item">Explore area</div>
  <div class="grid-item">Explore area</div>
  <div class="grid-item">Explore area</div>
  <div class="grid-item">Explore area</div>
  <div class="grid-item">Explore area</div>
  <div class="grid-item">Explore area</div>
  <div class="grid-item">
    <img class="img_homepage_house" src="{% static 'Tribe\IMG\Buildings\village_circle_fade_edges.png' %}">


  </div>
  <div class="grid-item">Explore area</div>
  <div class="grid-item">Explore area</div>
  <div class="grid-item">Explore area</div>
  <div class="grid-item">Explore area</div>
  <div class="grid-item">Explore area</div>
  <div class="grid-item">Explore area</div>
  <div class="grid-item">Explore area</div>
  <div class="grid-item">Explore area</div>
  <div class="grid-item">Explore area</div>
  <div class="grid-item">Explore area</div>
  <div class="grid-item">Explore area</div>
  <div class="grid-item">Explore area</div>
</div>
{% endblock %}
