{% extends 'Tribe/base.html' %}
{% load static %}
{% block title %}My Notes{% endblock %}

{% block stats %}
  {% for stat in stats %}
    <div title="{{ stat.resource_name }}" class="div_indiv_resource_stats">
      <p id="stats_value"> {{stat.stored_resource_quantity}}</p>
      <img class="img_stat_icon" src="{{ stat.resource_image.url }}">
    </div>
  {% endfor %}
{% endblock %}

{% block body %}

<h1>My Journey Notes</h1>
<div class="div_center">
    <form method="post">
        {% csrf_token %}
        <input type="text" name="item_text" id="new_note_field" placeholder="Enter a new note">
    </form>
    <p>Method={{method}}</p>
    <table id="table_of_notes">
        {% for note in existing_notes %}
            <tr class="table_row">
                <td  class="table_data">{{note.text}}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
