{% extends 'Tribe/base.html' %}
{% load static %}

{% block title %}Test Tribe Home{% endblock %}

{% block body %}
<h1 id="h1_tag"style="display:inline">Welcome to "THE TEST TRIBE"!</h1>
<img class="img_small" src="{% static 'Tribe/IMG/Goats/ram.svg' %}">
<br>
<img title="Chief" class="img_xx_large" src="{% static 'Tribe/IMG/Apes/chief_cut.png' %}">
<img title="Shepherd" class="img_xx_large" src="{% static 'Tribe/IMG/Apes/shepherd_cut.png' %}">
<img title="Farmer"  class="img_xx_large" src="{% static 'Tribe/IMG/Apes/farmer_cut.png' %}">
<img title="Builder" class="img_xx_large" src="{% static 'Tribe/IMG/Apes/builder_with_bricks_cut.png' %}">
<img title="Lumberjack" class="img_xx_large" src="{% static 'Tribe/IMG/Apes/lumberjack_cut.png' %}">
<img title="Blacksmith" class="img_xx_large" src="{% static 'Tribe/IMG/Apes/blacksmith_with_anvil_cut.png' %}">
<img title="Clay digger" class="img_xx_large" src="{% static 'Tribe/IMG/Apes/clay_digger_cut.png' %}">
<img title="Miner" class="img_xx_large" src="{% static 'Tribe/IMG/Apes/miner_cut.png' %}">
<img title="Potter" class="img_xx_large" src="{% static 'Tribe/IMG/Apes/potter_cut.png' %}">
<img title="Stone cutter" class="img_xx_large" src="{% static 'Tribe/IMG/Apes/stone_cutter_cut.png' %}">
<img title="Shaman" class="img_xx_large" src="{% static 'Tribe/IMG/Apes/shaman_cut.png' %}">
<img title="Teacher" class="img_xx_large" src="{% static 'Tribe/IMG/Apes/teacher_cut.png' %}">
<img title="Worker" class="img_xx_large" src="{% static 'Tribe/IMG/Apes/worker_cut.png' %}">

<img title="Ape drinking milk" class="img_xx_large" src="{% static 'Tribe/IMG/Apes/ape_drinking_milk_cut.png' %}">
<img title="Baby ape" class="img_x_large" src="{% static 'Tribe/IMG/Apes/baby_ape_cut.png' %}">
<img title="Baby ape" class="img_x_large" src="{% static 'Tribe/IMG/Apes/baby_apes_cut.png' %}">

<img title="Spearman" class="img_xx_large" src="{% static 'Tribe/IMG/Apes/spearman_cut.png' %}">
<img title="Jaguar tamer" class="img_xx_large" src="{% static 'Tribe/IMG/Apes/jaguar_tamer_cut.png' %}">
<img title="Python charmer" class="img_xx_large" src="{% static 'Tribe/IMG/Apes/python_charmer_cut.png' %}">
<br>
<img title="Sick ape" class="img_xx_large" src="{% static 'Tribe/IMG/Apes/sick_ape_cut.png' %}">
<img title="Dead ape" class="img_xx_large" src="{% static 'Tribe/IMG/Apes/dead_ape_cut.png' %}">
<img title="Skeleton ape" class="img_xx_large" src="{% static 'Tribe/IMG/Apes/skeleton_ape_cut.png' %}">
<br>
<img title="Blue baby goat" class="img_large" src="{% static 'Tribe/IMG/Goats/blue_goat_baby_cut.png' %}">
<img title="Blue goat" class="img_x_large" src="{% static 'Tribe/IMG/Goats/blue_goat_cut.png' %}">
<img title="Brown baby goat" class="img_large" src="{% static 'Tribe/IMG/Goats/brown_goat_baby_cut.png' %}">
<img title="Brown goat" class="img_x_large" src="{% static 'Tribe/IMG/Goats/brown_goat_cut.png' %}">
<img title="Pink baby goat" class="img_large" src="{% static 'Tribe/IMG/Goats/pink_goat_baby_cut.png' %}">
<img title="Pink goat" class="img_x_large" src="{% static 'Tribe/IMG/Goats/pink_goat_cut.png' %}">
<img title="Purple baby goat" class="img_large" src="{% static 'Tribe/IMG/Goats/purple_goat_baby_cut.png' %}">
<img title="Purple goat" class="img_x_large" src="{% static 'Tribe/IMG/Goats/purple_goat_cut.png' %}">
<img title="White baby goat" class="img_large" src="{% static 'Tribe/IMG/Goats/white_goat_baby_cut.png' %}">
<img title="White goat" class="img_x_large" src="{% static 'Tribe/IMG/Goats/white_goat_cut.png' %}">

<br>
<img title="Leopard" class="img_xx_large" src="{% static 'Tribe/IMG/Animals/leopard_cut.png' %}">
<img title="Dead ape" class="img_xx_large" src="{% static 'Tribe/IMG/Animals/snake_cut.png' %}">
<br>
<img class="img_xx_large" src="{% static 'Tribe/IMG/Buildings/hut2_cut.png' %}">


{% endblock %}