{% extends 'Tribe/base.html' %}
{% load static %}

{% block title %}Tribe Village{% endblock %}

{% block header_image %}
<header class="header">

</header>
{% endblock %}

{% block stats %}
  {% for stat in stats %}
    <div title="{{ stat.resource_name }}" class="div_indiv_resource_stats">
      <p id="stats_value"> {{stat.stored_resource_quantity}}</p>
      <img class="img_stat_icon" src="{{ stat.resource_image.url }}">
    </div>
  {% endfor %}
{% endblock %}

{% block body %}

<h1 id="h1_tag" style="display:inline">TEST TRIBE VILLAGE</h1>
<img class="img_logo" src="{% static 'Tribe/IMG/Goats/logo_raw_cut.svg' %}">
<br>
<div class="div_center">
    <div class="div_house_row">
        <div class="div_house_left">
            <a href="#" class="a_image">
                <img class="img_homepage_house" src="{% static 'Tribe/IMG/Buildings/chief_house_uncut.png' %}">
            </a>
        </div>
        <div class="div_data_right">
            <p>Data</p>
         </div>
    </div>
</div>


{% endblock %}