/* #0A5411 green */
/* #F7760B orange*/

body{
  background-image: url('../IMG/Tiles/jungle_tile_dark2_blur.jpg');
  background-repeat: repeat;
  background-position: top left;
  background-size: 50% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p{
    color:#F7760B
}

.p_credits{
    display:flex;
    flex-direction:row;
}

.header_img {
    width: 100%;
 }

.div_center{
    background-image: url('../IMG/Tiles/jungle_tile_black_and_white_blur.jpg');
    background-repeat: repeat;
    background-position: top left;
    background-size: 35% auto;
    display: flex;
    flex-direction: column;
    width:50%;
    border: solid 2px #F7760B;
    border-radius: 24px;
    margin: 5px;

}

.div_house_row{
    display:flex;

}

.div_house_left{
    width: 25%;
}

.div_data_right{
    width: 75%;
}

.img_homepage_house{
     width:100%;
}

h1 {
    color:#F7760B;
}

a{
    color: #F7760B;
}

.img_medium {
    width: 64px;
}
.img_small {
    width:32px;
    display:inline;
}

.img_large{
    width:64px;
}
.img_x_large{
    width:128px;
}

.img_xx_large{
    width:256px;
}

img_xxx_large{
    width:562px;
}