/* #0A5411 green */
/* #F7760B orange */
/* #f7cc0b yellow/*

/* #d2602d dark orange goat logo */

/* Re setter */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body{
  background-image: url('../IMG/Tiles/jungle_tile_dark2_blur.jpg');
  background-repeat: repeat;
  background-position: top left;
  background-size: 50% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* @keyframes appear_all{
 0% {opacity:0;} 
100% {opacity:1;}
} */


.img_logo {
    width: 6rem;
    animation: appear_all;
    animation-duration: 5s;
    animation-timing-function: ease-in;
}

h1 {
    font-size: 3rem;
    color:#F7760B;
    animation-name: appear_all;
    animation-duration: 10s;
    animation-timing-function: ease-in;
}

#div_nav_and_stats{
    display: flex;
    justify-content: space-between;
    width: 95vw;
}

#div_stats{
    display:flex;
}

.div_indiv_resource_stats{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: solid 0.1rem #f7cc0b;
    border-radius: 0.8rem;
    margin: 1rem;
    padding:1rem;
}

.img_stat_icon {
    width: 3.5rem;
    height: auto;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#stats_value{
    font-size:2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: #f7cc0b;

}

nav {
    display: flex;
}

.a_nav{
    color: #F7760B;
    border: solid 0.1rem #F7760B;
    border-radius: 0.8rem;
    text-decoration: none;
    margin: 1rem;
    padding:1rem;
    transition: 0.5s ease;
    font-size: 2rem;

}

.a_nav:hover {
    color: #f7cc0b;
    border: solid 0.1rem #f7cc0b;
    border-radius: 0.8rem;
    transform: translateY(+0.3rem);
    box-shadow: 0rem 0rem 0.9rem;
}

.a_nav:active{
    background:#d2602d ;
    color: #f7cc0b;
    border: solid 0.1rem #f7cc0b;
    border-radius: 0.8rem;
    transform: translateY(-0.1rem);
}

.img_homepage_house{
     width:100%;
     opacity: 0.5;
     transition: 0.7s ease;
}

.img_homepage_house:hover {
    transform: scale(1.05);
    opacity: 1;
}

.header{
    width:100vw;
    height: 25vh;
    background-image:radial-gradient(
        circle at center,
        rgba(0, 0, 0, 0),
        rgba(16, 16, 16, 0),
        rgba(16, 16, 16, 0),
        rgba(16, 16, 16, 0.5),
        rgba(16, 16, 16, 1)),
        url('../IMG/Buildings/village_in_a_landscape_view.jpg');
    background-size: cover;
    background-position: center;
    animation-name: appear_all;
    animation-duration: 10s;
    animation-timing-function: ease-in;
}

.div_center{
    background-image: url('../IMG/Tiles/jungle_tile_black_and_white_blur.jpg');
    background-repeat: repeat;
    background-position: top left;
    background-size: 35% auto;
    display: flex;
    flex-direction: column;
    width:50%;
    border: solid 0.2rem #F7760B;
    border-radius: 2.4rem;
    margin: 0.5rem;
    animation-name: appear_all;
    animation-duration: 10s;
    animation-timing-function: ease-in;
}

p{
    color:#F7760B
}

.div_house_row{
    display:flex;

}

.div_house_left {
    width: 25%;
}

.div_data_right {
    width: 75%;
}

.div_grid_jungle {
    background-image: url('../IMG/Tiles/specific_tile.png');
    background-repeat: repeat;
    background-position: top left;
    width: 75rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Creates 5 columns, each taking 1 fraction of the available space */
    grid-template-rows: repeat(5, 1fr); /* Creates 5 rows, each 100px high */
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 0.1rem rgba(0, 0, 0, 0);
  transition: 0.7s ease;
}

.grid-item:hover{
    border: solid 0.1rem #F7760B;
    border-radius: 4%;
    background-color: rgba(0, 0, 0, 0);
    color: #F7760B;
}

.table_data {
    color:#F7760B;
}

.img_medium {
    width: 6rem;
}

.img_small {
    width:3rem;
    display:inline;
}

.img_large{
    width:6rem;
}
.img_x_large{
    width:13rem;
}

.img_xx_large{
    width:26rem;
}

img_xxx_large{
    width:56rem;
}